@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext/AvenirNextLTPro-Regular.eot');
  src: url('/fonts/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/AvenirNext/AvenirNextLTPro-Regular.woff2') format('woff2'),
  url('/fonts/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
  url('/fonts/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype');
}
